.choices{
    display: flex;
    padding: 24px;
    justify-content: space-evenly;
    font-size: 48px;
    font-style: italic;
    font-weight: 700;
}

#userChoice{
    color: rgb(8, 60, 8);
}

#compChoice{
    color: rgb(99, 20, 20);
}

.buttons{
    display: flex;
    
    justify-content: center;
    padding: 40px;
    gap: 30px;
}

button{
    width: 300px;
    font-size: 40px;
    padding: 25px;
    border-radius: 5px;
    border-width: 1px;
    font-weight: 700;
}

#rock{
    background-color:blue;
}

#paper{
    background-color: rgb(255, 255, 255);
}

#scissors{
    background-color: red;
}

.results{
    display: flex;
    flex-direction: column;
    font-size: 28px;
    align-items: center;
}

#winner{
    padding: 8px;
    color: rgb(251, 255, 0);
    background-color: black;
    font-weight: 700;
    font-size: 34px;
}

